.hero-div--about {
    width: 100%;
    height: 90vh;
    background: url(../assets/images/about-us-bg.jpg) no-repeat;
    opacity: 0.5;
    transform: scale(1.2);
    transition: 1.2s;
}

.hero-div--about.anim-active {
    opacity: 1;
    transform: scale(1);
}

.hero-title--about {
    margin-top: 18vh;
    margin-left: 10vw;
    display: inline-block;
}

.about-title-wrapper {
    animation: fadeInUp 2.5s both;
}

.hero-title--about span {
    display: inline-block;
    transform: rotateY(90deg);
    transition: 1.3s;
}

.hero-title--about.anim-active span {
    transform: rotateY(0);
}

.manager-div {
    position: relative;
    height: 85vh;
    background-color: var(--manager-bg);
    padding: 25vmin 15vmin;
    overflow: hidden;
}

.manager-image {
    height: 90%;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.manager-bio, .chef-bio {
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    margin-top: 20px;
    width: 75vmin;
    padding-left: 10px;
}

.misters-dish {
    transform-origin: 54.7% 49%;
    position: absolute;
    right: 22vw;
    bottom: -2vw;
    width: 25vw;
    height: auto;
}

.chef-div {
    position: relative;
    height: 70vh;
    padding: 15vmin 15vmin 15vmin 35vw;
}

.chef-title, .chef-name {
    color: var(--white-text);
}

.chef-bio {
    color: var(--manager-bg);
    width: 85vmin;
}

.manager-title.anim-active,
.manager-name.anim-active,
.manager-bio.anim-active,
.chef-title.anim-active,
.chef-name.anim-active,
.chef-bio.anim-active {
    animation: fadeInUp 1.2s both;
}

.manager-name.anim-active,
.manager-bio.anim-active,
.chef-name.anim-active,
.chef-bio.anim-active {
    animation-delay: 400ms;
}

.chef-image {
    position: absolute;
    bottom: 0;
    left: 7%;
    height: 65vmin;
    width: auto;
}