.hero-div--about {
    width: 100%;
    height: 90vh;
    background: url(../assets/images/about-us-bg.jpg) no-repeat;
}

.hero-title--about {
    margin-top: 18vh;
    margin-left: 10vw;
    display: inline-block;
}

.manager-div {
    position: relative;
    height: 85vh;
    background-color: #1A100E;
    padding: 25vmin 15vmin;
    overflow: hidden;
}

.manager-image {
    height: 90%;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.manager-bio {
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    margin-top: 20px;
    width: 75vmin;
}

.misters-dish {
    transform-origin: 54.7% 49%;
    position: absolute;
    right: 22vw;
    bottom: -2vw;
    width: 25vw;
    height: auto;
}