#main-home {
    background: url(../assets/images/home-bg.jpg) no-repeat;
    background-size: auto 1800px;
}

#hero-div {
    padding-top: 10rem;
    padding-left: 30%;
}

.mission-text {
    color: var(--mission-color);
}