#content {
    height: 330vh;
}

#hero-div {
    height: 150vh;
    background: url(../assets/images/home-bg.jpg) no-repeat;
    background-size: auto 1800px;
    padding-top: 10rem;
    padding-left: 30%;
}

#our-mission {
    background-color: var(--mission-bg);
    position: absolute;
    top: 100vh;
    left: 0;
    width: 80%;
    height: 85vh;
}

.mission-text {
    color: var(--mission-color);
    width: 35%;
    font-size: 0.82rem;
}

#mission-drinks--img {
    position: absolute;
    top: 60vh;
    right: 0;
    width: 80%;
}

#home-pictures-container {
    position: absolute;
    top: 185vh;
    padding-top: 25vh;
    width: 100%;
    height: 150vh;
    overflow: hidden;
}

#pictures-heading {
    width: 60%;
    position: relative;
    left: 15%;
}

#home-picture-1 {
    position: absolute;
    top: 10px;
    right: 2.5%;
    width: 30vw;
    height: auto;
}

#home-picture-2 {
    position: absolute;
    top: 75vh;
    left: 1.5%;
    width: 25vw;
    height: auto;
}

#home-picture-3 {
    position: absolute;
    top: 100vh;
    left: 25%;
    height: 20vw;
    width: auto;
}

#home-picture-4 {
    position: absolute;
    top: 85vh;
    right: 10%;
    width: 30vw;
    height: auto;
}