.hero-div--menu {
    height: 85vh;
    background: url(../assets/images/menu-bg.jpg) no-repeat;
    background-size: cover;
    opacity: 0.5;
    transform: scale(1.1);
    transition: 1.2s;
}

.hero-div--menu.anim-active {
    opacity: 1;
    transform: scale(1);
}

.menu-title-wrapper {
    animation: fadeInUp 2.5s both;
}

.hero-title--menu {
    margin-top: 12%;
    margin-left: 45%;
    display: inline-block;
}

.hero-title--menu span {
    display: inline-block;
    transform: rotateY(90deg);
    transition: 1.3s;
}

.hero-title--menu.anim-active span {
    transform: rotateY(0);
}

.cards-container {
    position: absolute;
    top: 70vh;
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floating-card {
    position: relative;
    width: 24.5vw;
    height: 20vw;
    text-align: center;
    padding-top: 16vw;
    filter: brightness(50%);
    transition: all 0.55s;
    transform-origin: 50% 50%;
    animation: Updown linear infinite normal;
}

@keyframes Updown {
    50% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

.floating-card:hover {
    filter: brightness(100%);
}

.menu-card-1 {
    top: -2rem;
    background: url(../assets/images/menu-card-1.jpg) no-repeat;
    background-size: auto, cover;
    animation-duration: 7s;
}

.menu-card-2 {
    top: 2rem;
    background: no-repeat url(../assets/images/menu-card-2.jpg);
    background-size: cover;
    animation-duration: 20s;
}

.menu-card-3 {
    top: -4rem;
    background: no-repeat url(../assets/images/menu-card-3.jpg);
    background-size: cover;
    animation-duration: 13s;
}

.menu-card-4 {
    background: no-repeat url(../assets/images/menu-card-4.jpg);
    background-size: cover;
    animation-duration: 9s;
}

.menu-div {
    min-height: 150vh;
    padding-top: 20vw;
}

.menu-head {
    color: var(--white-text);
}

.sub-head--menu {
    color: var(--font-color);
}

.menu-block {
    text-align: center;
    padding-top: 0.8rem;
    width: 40vw;
    border-radius: 0.4rem;
    margin-bottom: 4rem;
}

.menu-image {
    margin: 50px 0;
    height: 35vmin;
    border-radius: 0.4rem;
}

.menu-text-div {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 2rem;
}

.menu-item {
    margin-left: 15%;
    width: 70%;
}

.menu-item--main {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.menu-item--sub {
    font-size: 0.85rem;
    line-height: 1.4rem;
    width: 50%;
    text-align: left;
    padding-left: 15px;
    margin-top: 10px;
}

/* Starters Menu */
.starter-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 1fr;
    grid-template-areas: "start-head start-head"
                         "starters-menu salad-menu";
    justify-items: center;
}

.starter-head {
    grid-area: start-head;
    text-align: center;
}

.starter-head.anim-active {
    animation: fadeInUp 1.2s both;
}

.menu-starter, .menu-salad {
    min-height: 80vh;
    /* background-color: var(--font-color); */
    background-color: rgb(46, 46, 46);
}

.menu-starter {
    grid-area: starters-menu;
}

.menu-salad {
    grid-area: salad-menu;
}