/* libre-caslon-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Caslon Display';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/libre-caslon-display-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/libre-caslon-display-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/libre-caslon-display-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/libre-caslon-display-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/libre-caslon-display-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/libre-caslon-display-v14-latin-regular.svg#LibreCaslonDisplay') format('svg'); /* Legacy iOS */
}

/* libre-caslon-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Libre Caslon Text';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/libre-caslon-text-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/libre-caslon-text-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/libre-caslon-text-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/libre-caslon-text-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/libre-caslon-text-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/libre-caslon-text-v3-latin-regular.svg#LibreCaslonText') format('svg'); /* Legacy iOS */
}

/* @import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Caslon+Text&display=swap'); */

:root {
    --font-color: #EBDFD4;
    --header-bg: #031018;
    --mission-bg: #1c1c1c;
    --mission-color: #E4D1BF;
    --white-text: #DDD6CC;
    --manager-bg: #1A100E;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Libre Caslon Text', serif;
  font-size: 16px;
}

body {
  color: var(--font-color);
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Caslon Display', serif;
}

h1 {
  font-size: 9rem;
}

h2 {
  font-size: 7.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

/* Rotating Image Animation */

.picture-spin {
  /* transform-origin: 50% 50%; */
  animation: rotateImg;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotateImg {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,11rem,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-33%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}